<ion-tabs>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        {{ title }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-tab-bar slot="top">
    <ion-tab-button tab="livro">
      <!-- <ion-icon name="flash"></ion-icon> -->
      <ion-label>LIVROS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="capitulos">
      <!-- <ion-icon name="apps"></ion-icon> -->
      <ion-label>CAPÍTULOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="versiculos">
      <!-- <ion-icon name="send"></ion-icon> -->
      <ion-label>VERSÍCULOS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
